<a href="https://colab.research.google.com/github/UAPH451551/PH451_551_Sp24/blob/main/Exercises/PythonRefreshers_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Literals, Variables and Functions

Some resources
- [Python Documentation](https://www.python.org/doc/)
- [Tutorial that inspired this](https://learnxinyminutes.com/docs/python/)
- [w3schools Python Tutorials](https://www.w3schools.com/python/)

Many functions will *automatically* print text when run independently in a code <br>
block. However, you can always manually use the **print()** function to be able to <br>
view some sort of output.

In [ ]:
print("Hello World!")

Hello World!

You can **print multiple separate items using comma separation**. You can also <br>
print items of different types such as the example below where we print a <br>
string of text followed by an integer then another string of text.

In [ ]:
print("The answer is", 42, ".")

The answer is 42 .

# Some basic operations

## Literal Types (numbers and strings)

The most common number types you might work with are **integers** and **floats**. <br>
Floats are numbers which are followed by decimal places. Wrapping a value in <br>
**quotation marks changes its type to a string** which is a text data type and is <br>
treated differently than numbers.

We can check the type of an object using Python's built-in **type()** function

In [ ]:
type(1)

int

In [ ]:
type(1.0)

float

In [ ]:
type("1.0")

str

### Mathematical Operators:
\+ addition <br>
\- subtraction <br>
/ division <br>
\* multiplication <br>
\*\* raise to the power of <br>
% return the remainder of division <br>
// divide then round down

In [ ]:
# You can add a # to convert code to a comment so it's not run as code
1 + 1   # => 2
8 - 1   # => 7
10 * 2  # => 20
35 / 5  # => 7.0
9 ** 2  # => 81
15 % 6  # => 3
27 // 6 # => 4

# notice that Google Colab only prints the last output

4

In [ ]:
# Enforce precedence with parentheses
1 + 3 * 2    # => 7

7

In [ ]:
(1 + 3) * 2  # => 8

8

## Variables

**Variables** are a way to **store a value to your computer's memory** so that you can <br>
reuse it and perform operations on it later.

In [ ]:
a = 1
b = 2
a + b

3

In [ ]:
c = a + b
c

3

In [ ]:
some_string = "This is some string"
some_string + "."

'This is some string.'

Once you have a value stored as a variable, you can print it out using multiple <br>
formats. Two examples are shown below. The **%d is a placeholder** for an <br>
integer. Other common placeholders would be %lf for floats and %s for strings.

In [ ]:
print("%d + %d = %d" % (a,b,c))
print(a, '+', b, '=', c)

1 + 2 = 3
1 + 2 = 3

## Lists, Arrays, and Dataframes

Python allows you to store **collections of values** in a default format called a <br>
list. **In this course we'll mostly be working with structures called arrays and <br>
dataframes.** We'll cover those in the next tutorial. For now, just know that <br>
the code below explores some things you can do with lists, most of which work <br>
with arrays and dataframes as well, and that lists, arrays, and dataframes are <br>
all ways to store collections of variables.

In [ ]:
arr = [1, 2, 3, 4, 5, 6]

In [ ]:
arr

[1, 2, 3, 4, 5, 6]

In [ ]:
type(arr)

list

You can access items by their index value or position within the list. arr[0] <br>
is the index for the first item. **Indices start at 0.**

In [ ]:
arr[0]

1

arr[0:3] means that we're accessing items from the list from the index of 0 <br>
(first item) **up to the index of 3-1=2** (third item).

In [ ]:
arr[0:3]

[1, 2, 3]

In [ ]:
arr[1:3]

[2, 3]

If we don't specify an ending index, it will go from the starting index to the <br>
end of the list.

In [ ]:
arr[2:]

[3, 4, 5, 6]

**Negative indices start counting from -1** to -(number of items in list) and are a <br>
way to **access items from the end of the list** first. To print the last 3 items, <br>
you would use arr[-3:] without specifying the end point.

In [ ]:
arr[-1]

6

In [ ]:
arr[-3:]

[4, 5, 6]

We can also append items to lists which means add them to the end of the list.

In [ ]:
names = ["Goku"]
names

['Goku']

In [ ]:
names.append("Vegeta")
names.append("Kuririn")
names

['Goku', 'Vegeta', 'Kuririn']

It's also possible to **overwrite** an item in place. **Be careful of this.** Sometimes <br>
it might make more sense to make a new array rather than overwrite an old one.

In [ ]:
names[0] = "Frieza"
names

['Frieza', 'Vegeta', 'Kuririn']

## For Loops

There are **two common types of loops** in most programming languages, **the "for"** <br>
**loop** and **the "while" loop**. In this course we'll almost exclusively be <br>
using the for loop but we'll briefly review while loops in PythonRefreshers_2.

Python makes it easy to **access items from a list in order using "in"**.

```python
for a in b:
  print(a)
```

The above code has as the meaning that you're going to **unpack some colleciton <br>**
**(b)** and for each item (a) in that collection, you want to **perform some function** <br>
such as print() **on that item (a)**. This is called a **"for loop"**.

In [ ]:
for item in [1,2,3,4,5]:
  print(item)

1
2
3
4
5

In [ ]:
for item in [1,2,3,4,5]:
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
for a in arr:
  print(a*a)

1
4
9
16
25
36

The below function is doing the following:

```python
newarr = []
for x in arr:
  newarr.append(x**3)
newarr
```

We're running a for loop that **applies a mathematical operation to each item in <br>**
**the list** then **creating a new array** from that list and **storing it**. A <br> better way to write this code is the following in a single line.

In [ ]:
newarr = [x**3 for x in arr]  # python list comprehensions
newarr

[1, 8, 27, 64, 125, 216]

The function range(start, stop, step) says **starting at "start" integer** and <br>
going **up to but not including "stop" integer** create a list of items which **go <br>
up in value each time by "step" integer**.

In [ ]:
for i in range(0,4,1):
    print(i)

0
1
2
3

If you don't specify, the default start value is 0 and step value is 1.

In [ ]:
for i in range(4):
    print(i)

0
1
2
3

### Booleans

**Booleans** are a form of logical data type that **let you check whether a statement** <br>
**is true or false**. There are several operators that let you compare <br>
python variables and values and return a boolean.

In [ ]:
# Boolean values are primitives (Note: the capitalization)
True   # => True
False  # => False

False

In [ ]:
# negate with not
not True   # => False
not False  # => True

True

**and** can be added as a condition when you have several conditions which <br>
**should all be true**. **or** can be added when you **only need one condition to** <br>
**be true**.

In [ ]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and True   # => True
True and False  # => False
False or True   # => True
False or False  # => False

False

#### Other boolean operators:
\== &nbsp; checks whether two values are equal <br>
\!= &nbsp; checks whether two values are NOT equal <br>
\< &nbsp;  checks whether the first value is less than the second value <br>
\> &nbsp;  checks whether the first value is greater than the second value <br>
<= and >= add a True condition if the values are exactly equal <br>

In [ ]:
# Equality is ==
1 == 1  # => True
2 == 1  # => False

False

In [ ]:
# Inequality is !=
1 != 1  # => False
2 != 1  # => True

True

In [ ]:
# More comparisons
1 < 10  # => True
1 > 10  # => False
2 <= 2  # => True
2 >= 2  # => True

True

### If/Else/Elif

if, else, and elif are ways to add a condition check to your code execution. <br> The following code says **if 3 is greater than 4, print 1 and terminate the if/elif/else block**. Or else, if **(elif) 3 is greater than 3, print 2 and terminate the block**. Or **else**, if none of the other conditions were true **print 3**.

In [ ]:
if 3 > 4:
  print(1)
elif 3 > 3:
  print(2)
else:
  print(3)

3

Let's tie together some ideas we've looked at so far. We're going to **loop <br>**
**through all of the items in our array.** For each item, check whether the <br> remainder of that item divided by 2 is equal to 0 (**check if the number is <br>**
**even**). **If it IS even, print that item. Otherwise print that it is odd.**

In [ ]:
# Reminder of what arr contains
print(arr)

[1, 2, 3, 4, 5, 6]

In [ ]:
for a in arr:
  if a % 2 == 0: # check if even
    print(a)
  else:
    print("odd")

odd
2
odd
4
odd
6

In [ ]:
# if else syntactic sugar
"yay!" if 0 > 1 else "nay!"  # => "nay!"

'nay!'

## Functions

Functions work just like they do in algebra. The function **f(x) operates on x** <br>
and applies some kind of operation. We can also have a function which depends on <br> more
than one value, such as **f(x, y) has both x and y as arguments**. We can also **assign the** <br>
**result of a function to a variable** or other appropriate data structure. In <br>
python this is done **using "return"**.

Below **we're creating a function called add** which **requires two inputs or** <br>
**arguments** which it will assign to variables called **x and y**. Here we see one <br>
more way to do text formatting without using placeholders.

In [ ]:
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

In [ ]:
add(2,3)

x is 2 and y is 3

5

When you create a variable inside of a function, it won't automatically affect <br>
variables of the same name created outside of that function.

In [ ]:
# Function Scope
x = 5

def set_x(num):
    # Local var x not the same as global variable x
    x = num    # => 42
    print(x)   # => 42

set_x(42)
print(x)

42
5

However, variables created outside of a function can be used within that <br>
function. For example:

In [ ]:
x = 5

def print_x(num):
  print(x)

print_x(7)

5

# Importing Modules/Packages

A major reason why python is so popular is the incredible number of **packages** <br>
or **collections of code** written by other people which you can easily install and <br>
download. Some of these are installed by default in any python and many more <br>
are installed automatically by google colab meaning **we'll rarely have to** <br>
**install new packages.** You can **load the the functions from a package into** <br>
**colab using the "import" function.**

In [ ]:
# You can import modules
import math

To use functions from that package you use a path format that goes like <br>
**package.function()**. Below we're using the square root function from the math <br>
package.

In [ ]:
print(math.sqrt(16))  # => 4.0

4.0

You don't need to import a whole package every time. When possible, try to <br>
import only the things you need.

In [ ]:
# You can get specific functions from a module
from math import ceil, floor
# --> no need to write math.ceil
print(ceil(3.7))   # => 4.0
print(floor(3.7))  # => 3.0

4
3

You can also import functions and packages with specific names

In [ ]:
import math as m

print(m.sqrt(16))

4.0

In [ ]:
from math import ceil as ce

print(ce(3.7))

4